[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
anchor_amm = "8DZ2UpRzstobVURn18Edw5tMtDaEPjjGrUiv3qdLCUBw"

[programs.localnet]
anchor_amm = "H7mHxVGXqBqvVEY3brzeAiVRXtgbFYChtMz1qVDK62XA"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
